<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Laboratoria">
    <meta name="keyword" content="Dashboard, Laboratoria, Students, Teachers, Centers">
    <title>Laboratoria Ayuda y Soporte - Dashboard</title>
    <!--BOOTSTRAP-->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <!--FONT-AWESOME-->
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
    <!-- CSS -->
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/style-responsive.css" rel="stylesheet">
  </head>
    <body>

    <header class="header black-bg">
          <div class="sidebar-toggle-box">
                 <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
             </div>
           <!--logo start-->
                      <a href="../index.html" class="logo"><img src="../assets/images/logo-horizontal.png" alt="logo-laboratoria"></a>
           <div class="top-menu nav top-menu">
             <ul class="nav pull-right top-menu">
                   <li><a class="logout" href="../login.html">Logout</a></li>
             </ul>
           </div>
      </header>
     <!--header end-->
     <!--sidebar start-->
     <aside>
         <div id="sidebar"  class="nav-collapse" tabindex="5000">
             <!-- sidebar menu inicio-->
             <ul class="sidebar-menu dcjq-accordion" id="nav-accordion">
                  <!-- sidebar menu header-->
                 <p class="centered"><a href="#"><img src="../assets/images/user.jpg" class="user-picture"></a></p>
                 <h5 class="centered" id="username"><a class="user-profile" href="preferences">John Parra</a></h5>
                 <!--menu dashboard general-->
                 <li class="mt">
                     <a class="active" href="../index.html">
                         <i class="fa fa-dashboard"></i>
                         <span>General</span>
                     </a>
                 </li>
                 <!--menu campus -->
                 <li class="sub-menu">
                     <a href="javascript:;" >
                         <i class="fa fa-desktop"></i>
                         <span>Campus</span>
                     </a>
                     <ul class="sub">
                         <li><a class="campusMenu" data-campusSelected='campusArequipa' href="arequipa.html">Arequipa</a></li>
                         <li><a class="campusMenu" data-campusSelected='campusMexico' href="mexico.html">Ciudad de México</a></li>
                         <li><a class="campusMenu" data-campusSelected='campusLima' href="lima.html">Lima</a></li>
                         <li><a class="campusMenu" data-campusSelected='campusChile' href="chile.html">Santiago de Chile</a></li>
                     </ul>
                 </li>
                 <!--menu estudiantes-->
                 <li class="sub-menu">
                     <a href="javascript:;" >
                         <i class="fa fa-cogs"></i>
                         <span>Estudiantes</span>
                     </a>
                     <ul class="sub">
                       <li><a class="studentsMenu" data-studentsSelected="studentsDirectory" href="students.html">Directorio</a></li>
                       <li><a class="studentsMenu" data-studentsSelected="studentsTech" href="tech.html">Calificaciones Tech</a></li>
                       <li><a class="studentsMenu" data-studentsSelected="studentsHse" href="hse.html">Calificaciones HSE</a></li>
                       <li><a class="studentsMenu" data-studentsSelected="studentsNps" href="nps.html">NPS</a></li>
                     </ul>
                 </li>
                 <!--menu profesores-->
                 <li class="sub-menu">
                     <a href="javascript:;" >
                         <i class="fa fa-book"></i>
                         <span>Profesores</span>
                     </a>
                     <ul class="sub">
                       <li><a class="facultyMenu" data-facultyMenu="facultyDirectory" href="faculty.html">Directorio</a></li>
                       <li><a class="facultyMenu" data-facultyMenu="facultyDirectory" href="courses.html">Cursos</a></li>
                       <li><a class="facultyMenu" data-facultyMenu="facultyTeachers" href="teachers.html">Profesores</a></li>
                       <li><a class="facultyMenu" data-facultyMenu="facultyJedis" href="jedis.html">Jedis</a></li>
                     </ul>
                 <!--menu perfil-->
                 <li class="sub-menu">
                     <a href="javascript:;" >
                         <i class="fa fa-user"></i>
                         <span>Perfil</span>
                     </a>
                     <ul class="sub">
                       <li><a class="profileMenu" data-profileMenu="profileDesktop" href="desktop.html">Escritorio</a></li>
                       <li><a class="profileMenu" data-profileMenu="profileDesktop" href="preferences.html">Preferencias</a></li>
                     </ul>
                 </li>
             </ul>
             <!-- sidebar menu end-->
         </div>
     </aside>
     <!--sidebar end-->

     <!--INICIO DE FACULTY -->
     <main>
     <div id="helpandsupport">
        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                  <div>
                    <h2 class="campus-header">Ayuda y soporte técnico</h2>
                  </div>
                    <div class="col-lg-12 main-chart">
                        <!--charts-->

                     <div class="row mt">
                                      <!-- Pofesores en funciones por sede -->
                       <div class="col-md-12 col-sm-12 mbg">
                            <div class="textdocument">
                              <div class="white-header">
                              <h4 class="mt">Preguntas Frecuentes</h4>
                              </div>
                              <div class="row loremblock">
                              <h4 class="mt">What is the meaninig of the life?</h4>
                              <p class="lorem">I need your help, Luke. She needs your help. I'm getting too old for this sort of thing.</p>
                              <p class="lorem">Your eyes can deceive you. Don't trust them. I find your lack of faith disturbing. Hokey religions and ancient weapons are no match for a good blaster at your side, kid. No! Alderaan is peaceful. We have no weapons. You can't possibly…</p>
                              <h4 class="mt">What is the meaninig of the life?</h4>
                              <p class="lorem">I have traced the Rebel spies to her. Now she is my only link to finding their secret base. What good is a reward if you ain't around to use it? Besides, attacking that battle station ain't my idea of courage. It's more like…suicide.</p>
                              <p class="lorem">Don't underestimate the Force.</p>
                              <h4 class="mt">What is the meaninig of the life?</h4>
                              <p class="lorem">No! Alderaan is peaceful. We have no weapons. You can't possibly… I want to come with you to Alderaan. There's nothing for me here now. I want to learn the ways of the Force and be a Jedi, like my father before me.</p>
                              <h4 class="mt">So, then?</h4>
                              <p class="lorem">You are a part of the Rebel Alliance and a traitor! Take her away!</p>
                              <h4 class="mt">What is the meaninig of the life?</h4>
                              <p class="lorem">You're all clear, kid. Let's blow this thing and go home!</p>
                              <h4 class="mt">So, then?</h4>
                              <p class="lorem">Don't act so surprised, Your Highness. You weren't on any mercy mission this time. Several transmissions were beamed to this ship by Rebel spies. I want to know what happened to the plans they sent you.</p>
                              <h4 class="mt">What is the meaninig of the life?</h4>
                              <p class="lorem">Leave that to me. Send a distress signal, and inform the Senate that all on board were killed.</p>
                              <h4 class="mt">So, then?</h4>
                              <p class="lorem">Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid. I'm in it for the money. No! Alderaan is peaceful. We have no weapons. You can't possibly…</p>
                              <h4 class="mt">What is the meaninig of the life?</h4>
                              <p class="lorem">Partially, but it also obeys your commands.</p>
                              <h4 class="mt">So, then?</h4>
                              <p class="lorem">Leave that to me. Send a distress signal, and inform the Senate that all on board were killed.</p>
                              <h4 class="mt">What is the meaninig of the life?</h4>
                              <p class="lorem">She must have hidden the plans in the escape pod. Send a detachment down to retrieve them, and see to it personally, Commander. There'll be no one to stop us this time!</p>
                              <h4 class="mt">What is the meaninig of the life?</h4>
                              <p class="lorem"> I'm getting too old for this sort of thing. But with the blast shield down, I can't even see! How am I supposed to fight?</p>
                              <h4 class="mt">So, then?</h4>
                              <p class="lorem">The more you tighten your grip, Tarkin, the more star systems will slip through your fingers. Oh God, my uncle. How am I ever gonna explain this?</p>
                              <h4 class="mt">What is the meaninig of the life?</h4>
                              <p class="lorem">Ye-ha! You are a part of the Rebel Alliance and a traitor! Take her away! He is here. Your eyes can deceive you. Don't trust them.</p>
                              <h4 class="mt">So, then?</h4>
                              <p class="lorem">I need your help, Luke. She needs your help. I'm getting too old for this sort of thing. Oh God, my uncle. How am I ever gonna explain this? I call it luck. Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid. I'm in it for the money.</p>
                              <h4 class="mt">What is the meaninig of the life?</h4>
                              <p class="lorem">Hey, Luke! May the Force be with you. I'm surprised you had the courage to take the responsibility yourself. I need your help, Luke. She needs your help. I'm getting too old for this sort of thing. No! Alderaan is peaceful. We have no weapons. You can't possibly…</p>
                              <h4 class="mt">What is the meaninig of the life?</h4>
                              <p class="lorem">Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is. Hey, Luke! May the Force be with you. Obi-Wan is here. The Force is with him. All right. Well, take care of yourself, Han. I guess that's what you're best at, ain't it?</p>
                              <h4 class="mt">So, then?</h4>
                              <p class="lorem">I don't know what you're talking about. I am a member of the Imperial Senate on a diplomatic mission to Alderaan-- Oh God, my uncle. How am I ever gonna explain this? What good is a reward if you ain't around to use it? Besides, attacking that battle station ain't my idea of courage. It's more like…suicide.
                            </div><!--/grey-panel -->
                          </div><!-- /col-md-4-->

     <a class="support" href="terms.html">Términos y condiciones</a>
      <!--main content end-->
     </main>
    <!--footer start-->
  <section id="footer">
     <footer class="site-footer clear">
         <div class="text-center">
             &copy; Laboratoria 2017

             <a href="help.html#" class="go-top">
                 <i class="fa fa-angle-up"></i>
             </a>
         </div>
     </footer>
  </section>
     <!--footer end-->


     <!-- Base de datos -->
     <script src='../js/data.js'></script>
     <!-- Aquí va tus archivos JS -->
     <script src='../js/app.js'></script>
     <script src='../js/arequipa.js'></script>
     <script src='../js/chile.js'></script>
     <script src='../js/lima.js'></script>
     <script src='../js/mexico.js'></script>
     <script src='../js/students.js'></script>
     <script src='../js/tech.js'></script>
     <script src='../js/hse.js'></script>
     <script src='../js/nps.js'></script>
     <script src='../js/faculty.js'></script>
     <script src='../js/courses.js'></script>
     <script src='../js/teachers.js'></script>
     <script src='../js/jedis.js'></script>
     <script src='../js/desktop.js'></script>
     <script src='../js/preferences.js'></script>
     <!--VENDORS-->
     <script src="../assets/vendors/jquery.js"></script>
     <script src="../assets/vendors/jquery-1.8.3.min.js"></script>
     <script src="../assets/vendors/bootstrap.min.js"></script>
     <script class="include" type="text/javascript" src="../assets/vendors/jquery.dcjqaccordion.2.7.js"></script>
     <script src="../assets/vendors/jquery.scrollTo.min.js"></script>
     <script src="../assets/vendors/jquery.nicescroll.js" type="text/javascript"></script>
     <script src="../assets/vendors/jquery.sparkline.js"></script>
     <script src="../assets/vendors/common-scripts.js"></script>
     <script type="text/javascript" src="../assets/vendors/gritter/js/jquery.gritter.js"></script>
     <script type="text/javascript" src="../assets/vendors/gritter-conf.js"></script>



    </body>
</html>
