<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Laboratoria">
    <meta name="keyword" content="Dashboard, Laboratoria, Students, Teachers, Centers">
    <title>Laboratoria Términos y Condiciones - Dashboard</title>
    <!--BOOTSTRAP-->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <!--FONT-AWESOME-->
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
    <!-- CSS -->
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/style-responsive.css" rel="stylesheet">
  </head>
    <body>

    <header class="header black-bg">
          <div class="sidebar-toggle-box">
                 <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
             </div>
           <!--logo start-->
           <a href="../index.html" class="logo"><img src="../assets/images/logo-horizontal.png" alt="logo-laboratoria"></a>
           <!--logo end-->
           <div class="top-menu nav top-menu">
             <ul class="nav pull-right top-menu">
                   <li><a class="logout" href="../login.html">Logout</a></li>
             </ul>
           </div>
      </header>
     <!--header end-->
     <!--sidebar start-->
     <aside>
         <div id="sidebar"  class="nav-collapse" tabindex="5000">
             <!-- sidebar menu inicio-->
             <ul class="sidebar-menu dcjq-accordion" id="nav-accordion">
                  <!-- sidebar menu header-->
                 <p class="centered"><a href="#"><img src="../assets/images/user.jpg" class="user-picture"></a></p>
                 <h5 class="centered" id="username"><a class="user-profile" href="preferences">John Parra</a></h5>
                 <!--menu dashboard general-->
                 <li class="mt">
                     <a class="active" href="../index.html">
                         <i class="fa fa-dashboard"></i>
                         <span>General</span>
                     </a>
                 </li>
                 <!--menu campus -->
                 <li class="sub-menu">
                     <a href="javascript:;" >
                         <i class="fa fa-desktop"></i>
                         <span>Campus</span>
                     </a>
                     <ul class="sub">
                         <li><a class="campusMenu" data-campusSelected='campusArequipa' href="arequipa.html">Arequipa</a></li>
                         <li><a class="campusMenu" data-campusSelected='campusMexico' href="mexico.html">Ciudad de México</a></li>
                         <li><a class="campusMenu" data-campusSelected='campusLima' href="lima.html">Lima</a></li>
                         <li><a class="campusMenu" data-campusSelected='campusChile' href="chile.html">Santiago de Chile</a></li>
                     </ul>
                 </li>
                 <!--menu estudiantes-->
                 <li class="sub-menu">
                     <a href="javascript:;" >
                         <i class="fa fa-cogs"></i>
                         <span>Estudiantes</span>
                     </a>
                     <ul class="sub">
                       <li><a class="studentsMenu" data-studentsSelected="studentsDirectory" href="students.html">Directorio</a></li>
                       <li><a class="studentsMenu" data-studentsSelected="studentsTech" href="tech.html">Calificaciones Tech</a></li>
                       <li><a class="studentsMenu" data-studentsSelected="studentsHse" href="hse.html">Calificaciones HSE</a></li>
                       <li><a class="studentsMenu" data-studentsSelected="studentsNps" href="nps.html">NPS</a></li>
                     </ul>
                 </li>
                 <!--menu profesores-->
                 <li class="sub-menu">
                     <a href="javascript:;" >
                         <i class="fa fa-book"></i>
                         <span>Profesores</span>
                     </a>
                     <ul class="sub">
                       <li><a class="facultyMenu" data-facultyMenu="facultyDirectory" href="faculty.html">Directorio</a></li>
                       <li><a class="facultyMenu" data-facultyMenu="facultyDirectory" href="courses.html">Cursos</a></li>
                       <li><a class="facultyMenu" data-facultyMenu="facultyTeachers" href="teachers.html">Profesores</a></li>
                       <li><a class="facultyMenu" data-facultyMenu="facultyJedis" href="jedis.html">Jedis</a></li>
                     </ul>
                 <!--menu perfil-->
                 <li class="sub-menu">
                     <a href="javascript:;" >
                         <i class="fa fa-user"></i>
                         <span>Perfil</span>
                     </a>
                     <ul class="sub">
                       <li><a class="profileMenu" data-profileMenu="profileDesktop" href="desktop.html">Escritorio</a></li>
                       <li><a class="profileMenu" data-profileMenu="profileDesktop" href="preferences.html">Preferencias</a></li>
                     </ul>
                 </li>
             </ul>
             <!-- sidebar menu end-->
         </div>
     </aside>
     <!--sidebar end-->

     <!--INICIO DE FACULTY -->
  <main>
  <div id="termsandpolicy">
     <section id="main-content">
         <section class="wrapper">
             <div class="row">
               <div>
                 <h2 class="campus-header">Términos y condiciones</h2>
               </div>
                 <div class="col-lg-12 main-chart">
                     <!--charts-->

                  <div class="row mt">
                                   <!-- Pofesores en funciones por sede -->
                    <div class="col-md-12 col-sm-12 mbg">
                         <div class="textdocument">
                           <div class="white-header">
                           <h4 class="mt">Aviso de confidencialidad</h4>
                           </div>
                           <div class="row loremblock">
                            <p class="lorem">I am the Doctor, and you are the Daleks!</p>
                            <p class="lorem">Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically meant beat them in a football match, didn't you? Heh-haa! Super squeaky bum time!</p>
                            <p class="lorem">The way I see it, every life is a pile of good things and bad things. …hey. …the good things don't always soften the bad things; but vice-versa the bad things don't necessarily spoil the good things and make them unimportant. Father Christmas. Santa Claus. Or as I've always known him: Jeff.</p>
                            <p class="lorem">Stop talking, brain thinking. Hush.</p>
                            <p class="lorem">Father Christmas. Santa Claus. Or as I've always known him: Jeff. I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship. Did I mention we have comfy chairs?</p>
                            <p class="lorem">*Insistently* Bow ties are cool! Come on Amy, I'm a normal bloke, tell me what normal blokes do!</p>
                            <p class="lorem">All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong?</p>
                            <p class="lorem">Stop talking, brain thinking. Hush.</p>
                            <p class="lorem">I am the last of my species, and I know how that weighs on the heart so don't lie to me!</p>
                            <p class="lorem">Stop talking, brain thinking. Hush. I'm the Doctor. Well, they call me the Doctor. I don't know why. I call me the Doctor too. I still don't know why. It's a fez. I wear a fez now. Fezes are cool. *Insistently* Bow ties are cool! Come on Amy, I'm a normal bloke, tell me what normal blokes do!</p>
                            <p class="lorem">I'm the Doctor. Well, they call me the Doctor. I don't know why. I call me the Doctor too. I still don't know why.</p>
                            <p class="lorem">Heh-haa! Super squeaky bum time!</p>
                            <p class="lorem">You've swallowed a planet!</p>
                            <p class="lorem">I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship. Did I mention we have comfy chairs? Did I mention we have comfy chairs? No, I'll fix it. I'm good at fixing rot. Call me the Rotmeister. No, I'm the Doctor. Don't call me the Rotmeister.</p>
                            <p class="lorem">Sorry, checking all the water in this area; there's an escaped fish. Aw, you're all Mr. Grumpy Face today. Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically meant beat them in a football match, didn't you?</p>
                            <p class="lorem">You've swallowed a planet! You've swallowed a planet! *Insistently* Bow ties are cool! Come on Amy, I'm a normal bloke, tell me what normal blokes do! All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong?</p>
                            <p class="lorem">No… It's a thing; it's like a plan, but with more greatness. You hit me with a cricket bat. They're not aliens, they're Earth…liens! I am the last of my species, and I know how that weighs on the heart so don't lie to me!</p>
                            <p class="lorem">I'm the Doctor, I'm worse than everyone's aunt. *catches himself* And that is not how I'm introducing myself. Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically meant beat them in a football match, didn't you?</p>
                            <p class="lorem">No… It's a thing; it's like a plan, but with more greatness. No, I'll fix it. I'm good at fixing rot. Call me the Rotmeister. No, I'm the Doctor. Don't call me the Rotmeister. I am the Doctor, and you are the Daleks!</p>
                            <p class="lorem">Father Christmas. Santa Claus. Or as I've always known him: Jeff. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? No… It's a thing; it's like a plan, but with more greatness.</p>
                            <p class="lorem">I'm the Doctor, I'm worse than everyone's aunt. *catches himself* And that is not how I'm introducing myself. The way I see it, every life is a pile of good things and bad things.…hey.…the good things don't always soften the bad things; but vice-versa the bad things don't necessarily spoil the good things and make them unimportant.</p>
                            <p class="lorem">I am the Doctor, and you are the Daleks! Sorry, checking all the water in this area; there's an escaped fish. You've swallowed a planet! They're not aliens, they're Earth…liens! You know when grown-ups tell you 'everything's going to be fine' and you think they're probably lying to make you feel better?</p>
                            <p class="lorem">It's a fez. I wear a fez now. Fezes are cool. No… It's a thing; it's like a plan, but with more greatness. Aw, you're all Mr. Grumpy Face today. Stop talking, brain thinking. Hush. Did I mention we have comfy chairs?</p>
                            <p class="lorem">Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? Heh-haa! Super squeaky bum time! I hate yogurt. It's just stuff with bits in.</p>
                         </div><!--/grey-panel -->
                       </div><!-- /col-md-4-->

  <a class="support" href="help.html">Ayuda y Soporte Técnico</a>
   <!--main content end-->
  </main>
    <!--footer start-->
  <section id="footer">
     <footer class="site-footer clear">
         <div class="text-center">
             &copy; Laboratoria 2017

             <a href="terms.html#" class="go-top">
                 <i class="fa fa-angle-up"></i>
             </a>
         </div>
     </footer>
  </section>
     <!--footer end-->




  		<!-- Base de datos -->
      <script src='../js/data.js'></script>
  		<!-- Aquí va tus archivos JS -->
      <script src='../js/app.js'></script>
      <script src='../js/arequipa.js'></script>
      <script src='../js/chile.js'></script>
      <script src='../js/lima.js'></script>
      <script src='../js/mexico.js'></script>
      <script src='../js/students.js'></script>
      <script src='../js/tech.js'></script>
      <script src='../js/hse.js'></script>
      <script src='../js/nps.js'></script>
      <script src='../js/faculty.js'></script>
      <script src='../js/courses.js'></script>
      <script src='../js/teachers.js'></script>
      <script src='../js/jedis.js'></script>
      <script src='../js/desktop.js'></script>
      <script src='../js/preferences.js'></script>
      <!--VENDORS-->
      <script src="../assets/vendors/jquery.js"></script>
      <script src="../assets/vendors/jquery-1.8.3.min.js"></script>
      <script src="../assets/vendors/bootstrap.min.js"></script>
      <script class="include" type="text/javascript" src="../assets/vendors/jquery.dcjqaccordion.2.7.js"></script>
      <script src="../assets/vendors/jquery.scrollTo.min.js"></script>
      <script src="../assets/vendors/jquery.nicescroll.js" type="text/javascript"></script>
      <script src="../assets/vendors/jquery.sparkline.js"></script>
      <script src="../assets/vendors/common-scripts.js"></script>
      <script type="text/javascript" src="../assets/vendors/gritter/js/jquery.gritter.js"></script>
      <script type="text/javascript" src="../assets/vendors/gritter-conf.js"></script>


    </body>
</html>
